@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  min-height: 100vh;
}

/* Custom utility for tapping */
.touch-target {
  min-height: 48px;
  min-width: 48px;
}
